name: iOS
on:
  push: {}

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
      - run: mise run //ios:lint

  format:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
      - run: mise run //ios:format
      - run: mise run //:no-diff
